.addArticleContainer {
  padding-top: 100px;
}
.newArticleTitle {
  text-align: center;
}

.newArticleForm {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  align-content: center;
  width: 80%;
  background-color: orange;
  margin: 2rem auto;
  text-align: center;
  font-size: 1.2rem;
  z-index: 10;
  border: solid black 2px;
  border-radius: 10px;
}

.articleSubmitButton {
  width: 30%;
  margin: 0 auto;
  font-size: 1.2rem;
}
.formElement {
  margin: 5px;
}

.submitArticleTitle {
  margin: 10px;
  display: block;
  justify-content: center;
  align-items: center;
  align-content: center;
  font-size: 1.2rem;
}

.submitArticleTopic {
  margin: 10px;
  display: block;
  justify-content: center;
  align-items: center;
  align-content: center;
  font-size: 1.2rem;
}
.submitArticleNewTopic {
  margin: 10px;
  display: block;
  justify-content: center;
  align-items: center;
  align-content: center;
  font-size: 1.2rem;
}
.submitArticleBody {
  margin: 10px;
  display: block;
  justify-content: center;
  align-items: center;
  align-content: center;
  font-size: 1.2rem;
}
