.addArticleContainer {
  padding-top: 100px;
  height: 1000px;
  background-image: linear-gradient(315deg, #20bf55 0%, #01baef 74%);
}
.newArticleTitle {
  text-align: center;
}

.newArticleForm {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  align-content: center;
  width: 80%;
  background-color: orange;
  margin: 2rem auto;
  text-align: center;
  font-size: 1.2rem;
  z-index: 10;
  border: solid black 2px;
  border-radius: 10px;
}
@media screen and (min-width: 600px) {
  .newArticleForm {
    width: 55%;
  }
}
.articleSubmitButton {
  width: 30%;
  margin: 0 auto;
  font-size: 1.2rem;
}
.formElement {
  margin: 5px;
}

.submitArticleTitle {
  margin: 10px;
  display: block;
  justify-content: center;
  align-items: center;
  align-content: center;
  font-size: 1.2rem;
}

.submitArticleTopic {
  margin: 10px;
  display: block;
  justify-content: center;
  align-items: center;
  align-content: center;
  font-size: 1.2rem;
}
.submitArticleNewTopic {
  margin: 10px;
  display: block;
  justify-content: center;
  justify-items: center;
  align-items: center;
  align-content: center;
  font-size: 1.2rem;
}
.submitArticleBody {
  margin: 10px;
  display: block;
  justify-content: center;
  align-items: center;
  align-content: center;
  font-size: 1.2rem;
}

.filterSelect {
  justify-content: center;
  text-align: center;
  justify-items: center;
}
.submitArticleTextarea {
  width: 200px;
  font-size: 1.5rem;
}
