.app {
  background-color: cornsilk;
}
.loading {
  text-align: center;
  padding-top: 150px;
  background-color: green;
  font-weight: 500;
  font-size: 2rem;
}

/* Header, title and nav */
.header {
  background-color: darkkhaki;
  position: fixed;
  width: 95%;
  z-index: 20;
  margin-bottom: 100px;
}
.title {
  width: 80%;
  margin: auto;
  outline: solid blue 2px;
  text-align: center;
}
.nav {
  display: flex;
  align-items: center;
  justify-content: space-around;

  outline: solid green 2px;
  width: 90%;
  margin: 10px auto;
  text-align: center;
  height: 3rem;
}

.navButton {
  height: 1.8rem;
  font-size: 1.3rem;
}

.homeContent {
  padding-top: 100px;
}

.errorMessage {
  padding-top: 100px;
  background-color: red;
}
