.app {
  background-color: #20bf55;
  background-image: linear-gradient(315deg, #20bf55 0%, #01baef 74%);
  background-size: cover;
}

/* Header, title and nav */
.header {
  background-color: rgb(240, 205, 8);
  position: fixed;
  width: 97%;
  z-index: 20;
  margin-bottom: 100px;
  border: solid black 2px;
  border-radius: 5px;
}
.title {
  width: 80%;
  margin: auto;

  text-align: center;
}
.nav {
  display: flex;
  align-items: center;
  justify-content: space-around;

  width: 97%;
  margin: 10px auto;
  text-align: center;
  height: 3rem;
}

.navButton {
  height: 1.8rem;
  font-size: 1.3rem;
}

.homeContent {
  padding-top: 100px;
}

.errorMessage {
  padding-top: 100px;
  background-color: red;
}
