.articles {
  padding-top: 100px;
}
.articlesList {
  list-style-type: none;
  display: flex;
  flex-direction: column;
  padding: 0;
}
.articlesTitle {
  text-align: center;
  font-size: 2rem;
  margin-top: 5px;
  margin-bottom: 2px;
}

.articleCard {
  width: 80%;
  background-color: orange;
  margin: 2rem auto;
  text-align: center;
  font-size: 1.2rem;
  z-index: 10;
  border: solid black 2px;
  border-radius: 10px;
  padding: 5px;
}

.cardButton {
  height: 1.5rem;
  font-size: 1.2rem;
  margin: 10px;
}

.filtersForm {
  display: flex;
  justify-content: space-around;
  background-color: rgb(247, 127, 0);
  padding-top: 10px;
  padding-bottom: 10px;
  border: solid black 2px;
  border-radius: 5px;
}
.articleFilters {
  display: flex;
  justify-content: center;
  font-size: 1.1rem;
}

.filterLabel,
.filterSelect {
  display: block;
  margin: 5px;
  font-size: 1.2rem;
  text-align: center;
}

.searchButton {
  height: 2rem;
  font-size: 1.5rem;
  margin: 10px auto;
}
.topicsFilter {
  display: flex;
  justify-content: center;
  font-size: 1.2rem;
  background-color: rgb(248, 147, 38);
  padding-top: 10px;
  padding-bottom: 10px;
  margin-bottom: 5px;
  text-align: center;
  border: solid black 2px;
  border-radius: 5px;
}

.avatarImg {
  height: 60px;
  width: 60px;
  clip-path: polygon(
    50% 0%,
    61% 35%,
    98% 35%,
    68% 57%,
    79% 91%,
    50% 70%,
    21% 91%,
    32% 57%,
    2% 35%,
    39% 35%
  );
}
