.loginContainer {
  background-color: #20bf55;
  background-image: linear-gradient(315deg, #20bf55 0%, #01baef 74%);

  width: 90%;
  margin: 0 auto;
}
.loginTitle {
  width: 50%;
  margin: 0 auto;
  text-align: center;

  font-size: 2rem;
}
.loginSubtitle {
  width: 50%;
  margin: 20px auto;
  text-align: center;
  border: solid black 2px;
  font-size: 2rem;
  border-radius: 5px;
  background-color: rgb(243, 193, 75);
}
.existingUser {
  display: flex;
  flex-direction: column;
  padding: 10px;
  border: solid black 2px;
  border-radius: 7px;
  font-size: 1.5rem;
  background-color: orange;
  justify-content: center;
  justify-items: center;
  align-items: center;
  align-content: center;
}
.showSignup {
}

.loginButton {
  justify-content: center;
  text-align: center;
}
.loginSubmit {
  font-size: 1.2rem;
}
