.singleArticleContainer {
  padding-top: 100px;
}

.singleArticle {
  width: 80%;
  background-color: orange;
  margin: 2rem auto;
  text-align: center;
  font-size: 1.2rem;
  z-index: 10;
  border: solid black 2px;
  border-radius: 10px;
  padding: 5px;
}

.singleArticleButton {
  height: 1.5rem;
  font-size: 1.2rem;
  margin: 10px;
}

.singleArticle {
  width: 80%;
  background-color: orange;
  margin: 2rem auto;
  text-align: center;
  font-size: 1.2rem;
  z-index: 10;
  border: solid black 2px;
  border-radius: 10px;
  padding: 5px;
}

.articleVotes {
  display: flex;
  margin: 0 auto;
  justify-content: space-around;
  justify-items: center;
  align-items: center;
}

.commentVotes {
  display: flex;
  margin: 0 auto;
  justify-content: space-around;
  justify-items: center;
  align-items: center;
}

.upVote {
  font-size: 1.5rem;
}

.downVote {
  font-size: 1.6rem;
}
